/* styling for blogs */
// both blog & siingle
article {
  .entry-image img {
    width: auto;
  }
}
// blog list...
.blog-list-style {
  article {
    margin-bottom: 0px;
    .entry-image {
      img {
        max-height: 240px;
      }
    }
    h3.entry-title {
      margin-bottom: 0px;
    }
  }
}
footer.entry-meta {
  border-top: 0px;
  padding: 0px;
  .cat-links,  // hide the footer, old school
  .sep,
  .tags-links {
    display: none;
  }
}
// single
// hide category & byline
article {
  .entry-header{
    .entry-category {
      display: none;
    }
    .byline {
      display: none;
    }
  }
}
