/*  archive */
.job_listings .date {
  display: none!important;
}


/* job listings style */
body.single-job_listing {
  .entry-image {
    display:none!important;
  }
  .date-posted {
    display: none!important;
  }
}
