/*******************begin _settings.scss ************************/
/* Colors ---------------------------------------------- */
// Font Colors
$titleFontColor: #a62425;
$menuBarFontColor:#FFFFFF;
$dkBrownFontColor:#552c14;
$brickFontColor: #a63824; //#A63624; // #a63824;
$ltrBrickFontColor: #d37a57;
// Background colors:
$ltpeachwidgetbkg: #fbebdb;
$ltpeachbkg: #ffd3cc; // #fcf1e3
$ltmedpeachbkg: rgb(251, 235, 219); // used for footer bkg
$creambkg: #FCF1E3; // assigned in template options
$bkgoundContent: #FFFFFF; // asigned in template options;
$menuBarbkg: #D14719; // set in template options
$navcollapsebkg: #fbbfa3;//#e87a56;
$navcollapsehover:#e87a56;
$facebook-blue: #3b5998;
$ymca-teal: #01a490;
$ymca-blue: #0089D0;
$defy-orange:  #f47920;
$navcolStartColor: #ffd3cc; // orig.  #f2f2f2;
$navcolEndColor:#e87a56 ;// orig #e5e5e5;
/* Typography ------------------------------------------ */
h1, h2, h3, h4, h5, h6, h4 span, .zig-h4  {
	font-family: Verdana, Geneva, sans-serif;
}
p, ul, ol {
	font-family: Verdana, Geneva, sans-serif;
}
// navigaion
#site-navigation > li > a { // top level main navigation
	color: white;
	opacity: 1;
}
ul.header-nav li a  {
	font-weight: normal;
}
defy-br8 {
	border-radius: 8px;
}
button.primary, .button.primary {
	border-radius: 4px;
}
.defy-borderbox .column-inner {
	border: 2px solid $defy-orange;
	border-radius: 8px;
	h2 {
		padding-left: 10px;
	}
}
/*******************end _settings.scss ************************/
